@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-text: #ededed;
  --color-accent: #FF9F1C;
  
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html,
  body {
    @apply bg-background text-text h-full w-full overflow-hidden;
  }
}

/* Leaflet Map Z-Index Fixes */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #0a0a0a;
}