---
import Layout from "../layouts/Layout.astro";
import BottomNav from "../components/BottomNav";
import JetLagCalculator from "../components/JetLagCalculator";
---

<Layout title="Recover - Arrival">
    <main class="relative w-full h-full overflow-hidden bg-background">
        {/* Background ambient glow */}
        <div
            class="absolute top-[-20%] right-[-20%] w-[500px] h-[500px] bg-accent/10 rounded-full blur-[100px] pointer-events-none"
        >
        </div>
        <div
            class="absolute bottom-[-20%] left-[-20%] w-[500px] h-[500px] bg-blue-500/10 rounded-full blur-[100px] pointer-events-none"
        >
        </div>

        <JetLagCalculator client:load />
        <BottomNav client:load currentPath="/recover" />
    </main>
</Layout>
